:root{
      --background:#121414;
      --shape:#1F2729;
      --textos:#A8A8B3;
      --testos:#E1E1E6;
      --yellow:#EBA417;
      --green:#04D361;
      --blue:#61DCFB;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto' , sans-serif;
}

body {
 background-color: #121414;
}

